@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estrella's Elegant Event Management</h1>
    <p>
        Welcome to this event management webpage, where you can create and view events or RSVP for an event!
        Navigate to the Events or RSVP pages to learn more.
    </p>
</div>