@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 8</h1>
    <p class="lead">Manage and view the results and participants of track meets.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Add New</h2>
        <p>
            Click here to add a new athlete to a team, to add a new meet, or enter new race results!
        </p>
        <p><a class="btn btn-default" href="Home/AddNew">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View Results</h2>
        <p>
            Click here to view race results, team results, or individual athlete results!
        </p>
        <p><a class="btn btn-default" href="Home/Results">Learn more &raquo;</a></p>
    </div>
</div>