@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 6</h1>
    <p class="lead">Using LINQ to build a webpage to query a preexisting database.</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>World Wide Importers</h2>
        <p>
            Explore the World Wide Importers website here!
        </p>
        <p>@Html.ActionLink("Explore", "Index", "StockItem")</p>
    </div>
</div>